[MASTER]
ignore-paths=^.*/tests/.*$
disable=
    arguments-renamed,
    duplicate-code,
    import-error,
    invalid-name,
    logging-format-interpolation,
    logging-fstring-interpolation,
    no-member,
    super-init-not-called,
    too-few-public-methods,
    unused-argument,
    useless-super-delegation,
    wrong-import-order,
